.introContainer{
    height: 100vh;
    background: url(/src/assets/images/img2.jpg) ;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro {
    width: 80%;
    text-align: center;
    position: fixed;
}
.intro a:link{ 
    color: white;
    text-decoration: none;
}
.intro a:visited{
    color: white
}
.intro h1{
    color:white ;
    font-size: 40px;
    font-family:Georgia;
    text-align: center; 
    margin: 0;
}
.intro p{
    color: #7fa6e5;
    /* #8ab4f8 */
}
.Contact{
    display: flex;
    justify-content: center;
}
.Contact img{
    transition: 300ms ease;
}
.Contact img:hover{
    transform: scale(1.46 );
}
.scroll{
    display: flex;
    justify-content: center;
}
 .scroll:hover{
    text-decoration: underline;
} 
@media screen and (max-height : 870px) {
    .introContainer{
        height: 800px;
        background: url(/src/assets/images/img2.jpg) ;
        background-size:cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
    }
}