.navBar{
    display: flex;
    justify-content: center;
    position:fixed;
    min-height:50px ;
    background-color: black;
    width: 100%;
    top: 0;    
}
.navBar ul{  
    list-style-type: none;
    margin: 0;
}
.navBar li{
    padding: 0;
    display: inline-block;
    margin: 10px;
}
.navBar a:link {
    color: rgb(170, 175, 180);
    text-decoration: none;
}
.navBar a:hover {
    color: rgb(45, 45, 63);
    text-decoration: none;
}
.navBar a:visited{
    color: rgb(146, 161, 173);
}
.navBar a:active{
    color: orange;
}
html{
    scroll-behavior: smooth;
}
@media screen and (max-width: 450px) {
    .navBar li{
        padding: 0;
        display: inline-block;
        margin: 5px;
    }
    .navBar ul{  
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .navBar p{
        margin: 3px;
        margin-top: 7px;
    }
}