.about {
    /* background: linear-gradient(#102b4a, rgb(30, 30, 68)); */
    background: linear-gradient(#5b340b, rgb(60 38 24));
    color: white;
    font-size: 23px;
    background-size: cover;
    min-height: 100vh;
    z-index: 2;
    position: relative;
    color: #F1F0CC;
}
.aboutPad{
    padding:105px 2em 2em 2em; 
    display: flex;
}
.Aboutme img{
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}
.Aboutmecontents{
    flex: 6;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.About-mecontents{
    text-align: justify ;
}
.contactContainer{
    padding-top: 4em
}
.abmel{
    color:white;
    text-decoration :none;
}
.abmel:hover{
   color: rgb(147, 155, 161);
}
.CV{
    background-color: white;
    width: 200px;
    height: 40px;
    border-color :rgb(243, 101, 0);
    background-color: black;
    border-radius: 10px;
    text-align: center;
    float: right;
    cursor: pointer;
}
.CV:hover{
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
.CV a:link{
    color: white;
    text-decoration: none; 
}
.CV a:visited{
    color: white;
    text-decoration: none; 
}
@media screen and (max-width: 650px ) {
    .aboutPad{
        padding: 55px 1em 1em 1em ;
        display: block;
    }
    .About-mecontents{
        text-align: justify ;
        font-size: 20px;
    }
    .Aboutme{
       display: flex;
       justify-content: center;
    }
    .Aboutmecontents {
        flex: 6 1;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .Aboutme img{
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover;
    }
    .Aboutmecontents h3{
     text-align: center;
    }
}