.about{
    background:linear-gradient( #102b4a,rgb(30, 30, 68)) ;
    color: white;
    font-size: 23px;
    background-size:cover ;
    min-height: 100vh;
}
.aboutPad{
    padding: 4em 2em 2em 2em ;
    display: flex;
}
.Aboutme img{
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}
.Aboutmecontents{
    flex: 6;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.About-mecontents{
    text-align: justify ;
}
.contactContainer{
    padding-top: 4em
}
.abmel{
    color:white;
    text-decoration :none;
}
.abmel:hover{
   color: rgb(147, 155, 161);
}
.CV{
    background-color: white;
    width: 200px;
    height: 40px;
    border-color :rgb(34, 34, 110);
    background-color: #164070;
    border-radius: 10px;
    text-align: center;
    float: right;
    cursor: pointer;
}
.CV:hover{
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
.CV a:link{
    color: rgb(147, 155, 161);
    text-decoration: none; 
}
@media screen and (max-width: 650px ) {
    .aboutPad{
        padding: 2em 1em 1em 1em ;
        display: block;
    }
    .About-mecontents{
        text-align: justify ;
        font-size: 20px;
    }
    .Aboutme{
       display: flex;
       justify-content: center;
    }
    .Aboutme img{
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover;
    }
    .Aboutmecontents h3{
     text-align: center;
    }
}