.resumeContaienr{
    height: 100vh;
}
.Resume{
    background-color: white;
    padding-top: 4em ;
    display: flex;
    color: rgb(38, 30, 110);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flexleft{
    flex: 1.5;
    text-align: center;
    text-decoration: underline 2px rgb(30, 62, 110);
}
.flexright{
    flex: 4;
    text-align: justify;
}
.flexright span{
    color: rgb(187, 163, 132);
}
.Resume2{
    background-color: white;
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    color: rgb(38, 30, 110);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.l2{
    flex: 1.5;
    text-align: center;
    text-decoration: underline 2px rgb(30, 62, 110);
}
.r2{
    flex: 4;
    text-align: justify;
}
.r2 span{
    color: rgb(187, 163, 132);
}
.Skills{
    background-color: white;
    padding: 20px;
    padding-bottom: 3%;
    display: flex;
    color: rgb(38, 30, 110);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.SIntro{
    flex: 1.5;
    text-align: center;
    text-decoration: underline 2px rgb(30, 62, 110);
}
.Skillsbar{
    border-radius: 50px;
    flex: 4;
    text-align: justify;
}
.htmlbar{
    border-radius: 50px;
    background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) ) ;
    width: 60%;
    height: 50px;
}
.htmlb{
    border-radius: 50px;
    background: linear-gradient(to bottom, rgb(38 30 110),  rgb(75, 64, 180),  rgb(38 30 110) ) ;
    width: 92%;
    height: 50px;
}
.cssbar{
    border-radius: 50px;
    background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) ) ;
    width: 60%;
    height: 50px;
}
.cssb{
    border-radius: 50px;
    background: linear-gradient(to bottom, rgb(38 30 110),  rgb(75, 64, 180),  rgb(38 30 110) ) ;
    width: 80%;
    height: 50px;
}
.jscriptbar{
    border-radius: 50px;
    background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) ) ;
    width: 60%;
    height: 50px;
}
.jscriptb{
    background: linear-gradient(to bottom, rgb(38 30 110),  rgb(75, 64, 180),  rgb(38 30 110) ) ;
    border-radius: 50px;
    width: 65%;
    height: 50px;
}
.cppbar{
    border-radius: 50px;
    background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) ) ;
    width: 60%;
    height: 50px;
}
.cppb{
    background: linear-gradient(to bottom, rgb(38 30 110),  rgb(75, 64, 180),  rgb(38 30 110) ) ;
    border-radius: 50px;
    width: 25%;
    height: 50px;

}
@media screen and (max-height : 870px) {
    .resumeContaienr{
        height: 100%;
    }
}
@media screen and (max-width: 650px ) {
    .Resume{
        background-color: white;
        padding-top: 4em ;
        display: block;
        color: rgb(38, 30, 110);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .flexright {
        padding: .5em;
        text-align: justify;
    }
    .Resume2{
        background-color: white;
        padding: 20px;
        padding-bottom: 20px;
        display: block;
        color: rgb(38, 30, 110);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .htmlbar{
        border-radius: 50px;
        background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) ) ;
        width: 100%;
        height: 50px;
    }
    .htmlb {
        border-radius: 50px;
        background: linear-gradient(to bottom, rgb(38 30 110), rgb(75, 64, 180), rgb(38 30 110) );
        width: 92%;
        height: 50px;
    }
    .cssbar{
        border-radius: 50px;
        background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) ) ;
        width: 100%;
        height: 50px;
    }
    .cssb {
        border-radius: 50px;
        background: linear-gradient(to bottom, rgb(38 30 110), rgb(75, 64, 180), rgb(38 30 110) );
        width: 57%;
        height: 50px;
    }
    .jscriptbar {
        border-radius: 50px;
        background: linear-gradient(to bottom,rgb(32, 27, 27), rgb(63, 56, 56), rgb(32, 27, 27) );
        width: 100%;
        height: 50px;
    }
    .jscriptb {
        border-radius: 50px;
        background: linear-gradient(to bottom, rgb(38 30 110), rgb(75, 64, 180), rgb(38 30 110) );
        border-radius: 50px;
        width: 65%;
        height: 50px;
    }
}
