.sidebar{
    position: fixed;
    width: 200px;
    z-index: -1005;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    background: black;
    display: flex;
    align-items: center;
    transform: translateX(-200px);
    transition: 200ms;
    
    
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    height: 50%;
}
.normal{
    transform: unset !important;
}